
-------------Debug-------------
{$env['FRAMEWORK_NAME']};
Version :  {$env['FRAMEWORK_VERSION']};
Doc     : https://github.com/saasjit/tinyphp-docs;
Time    :  {$debugInterval} S;
Memory  :  {$debugMemory} M;
--------------------------
{if is_array($debugDbQuerys)}
DbQueryTimeTotal : {$debugDbTimeTotal} S;
{loop $debugDbQuerys $query}
{$query['engine']}: 
  TIME: {$query['time']}S
  SQL: {$query['sql']}
{/loop}
{/if} 
{if !empty($debugExceptions)}
----------Exception----------------
Message: {$debugFirstException['message']}

Line:    {$debugFirstException['line']}

File:    {$debugFirstException['file']}

{loop $debugExceptions $e}
{$e}
{/loop}
{/if}
